<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <center>
        <form method="POST">
            <h1>Welcome to Elephant Human Classifier</h1>
            <p>Height</p>
            <input type="text" placeholder="Enter Height" name="Height">
            <p>weight</p>
            <input type="text" placeholder="Enter Weight" name="Weight"><br><br>
            <input type="submit" value="Predict">
        </form>
    </center>


</body>

</html>